# Virtual environments
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Chroma vector store
chroma_db/

# Meta/embedding metadata
meta_db/

# Streamlit file
*.streamlit/

# VS Code files
.vscode/

storage/
utils/

# OS metadata
.DS_Store
Thumbs.db
